#signature {
  display: block;
  box-shadow: 0 -8px 6px -3px rgba(0, 0, 0, 0.4);
  z-index: 1; /* Sit on top */
  font-family: 'DejaVu Sans', serif;
  font-size: 3vmin;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  padding: 5%;
  height: 100%;
  flex: 2;
}