@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);
header {
  text-align: center;
  padding: 3%;
  flex: 3;
  box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.4);
  z-index: 1;
  /* Sit on top */
}
header #avatar {
  width: 18vmax;
}
header h1 {
  font-family: "Cardo", serif;
  font-size: 2.5vmin;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}
header h1 b {
  font-family: "EB Garamond", serif;
  font-size: 10vmin;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style: normal;
  padding: 0.3em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}
header #socialNav {
  display: flex;
  justify-content: center;
}
header #socialNav a {
  padding: 5px;
}
header #socialNav a:hover {
  opacity: 0.7;
}
header #socialNav a img {
  width: 3vmax;
}
header #socialNav #link1 {
  order: 1;
}
header #socialNav #link2 {
  order: 2;
}
header #socialNav #link3 {
  order: 3;
}
header #logoutNav {
  text-align: end;
}
header #logoutNav #logoutLink {
  padding: 5px;
  color: white;
}
header #logoutNav #logoutLink:hover {
  opacity: 0.7;
}

#searchBox {
  display: flex;
  justify-content: center;
  margin: 70px 0 40px 0;
}
#searchBox #searchText {
  outline: none;
  border: none;
  transition: border-bottom-color 1s;
  border-bottom: 0.12em solid #9d9d9d;
  background: transparent;
  width: 25vw;
  font-size: 20px;
  opacity: 0.7;
  padding: 4px;
}
#searchBox #searchText:focus {
  border-bottom: 0.12em solid #324385;
}
#searchBox #searchIcon {
  color: #394db4;
  padding: 0;
  font-size: 28px;
  position: relative;
  right: 25px;
}

article.post-box {
  background: white;
  margin-bottom: 5%;
  border-radius: 2px;
  height: 50%;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
}
article.post-box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
article.post-box section.post-content {
  padding: 3%;
  color: #414247;
  flex: 4;
  word-wrap: break-word;
}
article.post-box section.post-content .post-header {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 4em;
  width: 70vw;
}
article.post-box section.post-content .post-body {
  font-size: 1.5em;
  width: 70vw;
}
article.post-box hr {
  display: block;
  margin: auto;
  width: 97%;
}
article.post-box section.btn-section {
  flex: 1;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
article.post-box section.btn-section .mdl-button {
  padding: 0;
  min-width: 36px;
}
article.post-box section.btn-section .share-btn {
  order: 1;
}
article.post-box section.btn-section .trash-btn {
  order: 3;
}
article.post-box section.btn-section .edit-btn {
  order: 2;
}
article.post-box section.btn-section button {
  color: #414247;
}
article.post-box section.btn-section button:focus {
  background-color: inherit;
}
article.post-box section.btn-section button i {
  font-size: 26px;
  font-weight: lighter;
}
article.post-box section.btn-section .timestamp {
  display: inline-block;
  padding-left: 5px;
  font-size: 1em;
  flex: 1;
}

.highlight-new-post {
  outline: 3px solid #5182ee;
}

.highlight-search {
  background-color: #c0dbff;
}

#add-but-container #addBtn {
  top: 90%;
  position: fixed;
  right: 3%;
  z-index: 2;
  background-color: #324385;
}
#add-but-container #addBtn:hover {
  opacity: 0.5;
}
.modal {
  position: fixed;
  z-index: 2;
  /* Sit on top */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 3px;
  text-align: center;
}

.display {
  display: block;
}

.hide {
  display: none;
}

#writePostModal {
  width: 40%;
}
#writePostModal #writePostModalTitle {
  font-family: "Comic Sans MS", serif;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1em;
  color: #36529a;
}
#writePostModal #writePostForm {
  margin-top: 30px;
}
#writePostModal #writePostForm input[type=text], #writePostModal #writePostForm textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0 3px 3px;
  margin: 5px 1px 3px 0;
  border: 2px solid #DDDDDD;
  font-size: 20px;
}
#writePostModal #writePostForm input[type=text]:focus, #writePostModal #writePostForm textarea:focus {
  box-shadow: 0 0 5px #51cbee;
  padding: 3px 0 3px 3px;
  margin: 5px 1px 3px 0;
  border: 2px solid #51cbee;
}
#writePostModal #writePostForm input[type=text] {
  width: 70%;
  height: 20px;
}
#writePostModal #writePostForm textarea {
  width: 70%;
  height: 150px;
  resize: none;
  white-space: pre-wrap;
}
#writePostModal #writePostForm button {
  width: 70%;
  padding: 1% 23% 1% 23%;
}
#writePostModal #writePostForm button:hover, #writePostModal #writePostForm button:focus {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}
#writePostModal #closeBtn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#writePostModal #closeBtn:hover, #writePostModal #closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#deletePostModalContent {
  width: 30%;
}
#deletePostModalContent #deletePostModalTitle {
  font-family: "Comic Sans MS", serif;
  font-weight: bold;
  font-style: italic;
  color: #36529a;
}
#deletePostModalContent #deletePostForm button {
  font-size: larger;
  font-weight: bold;
  background: #36529a;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 2% 7% 2% 7%;
  margin: 5px;
}
#deletePostModalContent #deletePostForm button:hover, #deletePostModalContent #deletePostForm button:focus {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.msg {
  margin: 10% auto 15% auto;
}
.msg header {
  font-weight: bold;
}
.msg i {
  font-size: 1.2em;
  color: #4d4e53;
}

#signature {
  display: block;
  box-shadow: 0 -8px 6px -3px rgba(0, 0, 0, 0.4);
  z-index: 1;
  /* Sit on top */
  font-family: "DejaVu Sans", serif;
  font-size: 3vmin;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  padding: 5%;
  height: 100%;
  flex: 2;
}

button {
  font-size: 24px;
  font-weight: bold;
  background: #36529a;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.root {
  width: 100%;
  background: #e5e5f0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
body .top-bottom-theme {
  background: #4e77c7;
  color: #fff;
}
body #root {
  flex: 8;
}
body #root main .container {
  margin: auto;
  border: 1px;
  width: 75%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  white-space: pre-line;
}

/*# sourceMappingURL=blog.css.map */
