.delete-post-modal__inner-container {
  width: 90%;

  hr {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .delete-post-modal__title {
    font-family: 'Comic Sans MS', serif;
    font-style: italic;
  }

  .delete-post-modal__options {
    margin: auto;

    button {
      border-radius: 5px;
    }

    button + button {
      margin: 0.5em;
    }
  }
}

@media (min-width: 600px) {
  .delete-post-modal__inner-container {
    width: 40%;
    min-width: 350px;

    .delete-post-modal__options {
      width: max-content;
    }
  }
}
