.social-nav__inner-container {
  display: flex;
  //justify-content: center;
  padding: 0;

  .social-nav__item {
    .social-nav__link {
      font-size: 1.5rem;
      font-weight: var(--fw-reg);
      color: var(--clr-dark);
      padding: 0.25em 0.5em;
    }
  }

  .social-nav__item + .social-nav__item {
    margin-left: 0.5em;
  }
}
