.form-container {
  //height: 100vh;
  padding: 3em;
  margin: 4em auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: var(--clr-light);
  text-align: center;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }


  form {
    display: flex;
    flex-direction: column;

    button {
      padding: 15px;
      margin: 2em 0 1em 0;
      //border: initial;
    }

    .form-loading {
      margin: 2em;
    }

    div {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin: 10px 0 10px 0;
      font-size: 0.8em;

      input {
        padding: 10px;
      }
    }
  }

  nav {
    text-align: end;
    margin-top: 2em;

    .form-link {
      color: var(--clr-dark);

      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 600px) {
  .form-container {
    width: 30%;
    min-width: 400px;
  }
}

